@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  height: 100vh;
  margin: 0;
  background-color: #333;
  display: block grid;
  place-items: center;
  font-family: 'Poppins', sans-serif;
}

.loader {
  display: block flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.loading-bar-background {
  width: 200px;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #212121;
  border-radius: 15px;
  box-shadow: #0c0c0c -2px 2px 4px 0px inset;
}

.loading-text {
  color: white;
  font-size: 14pt;
  font-weight: 600;
  margin-left: 10px;
}

.dot {
  margin-left: 3px;
  animation: blink 1.5s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

.loading-bar {
  position: relative;
  display: block flex;
  justify-content: center;
  flex-direction: column;
  width: 0%;
  height: 20px;
  overflow: hidden;
  background: #de4a0f;
  background: linear-gradient(0deg, #de4a0f 0%, #f9c74f 100%);
  border-radius: 10px;
  animation: loading 4s ease-out infinite;
}

.white-bars-container {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 18px;
}

.white-bar {
  background: linear-gradient(-45deg, rgba(255, 255, 255, 1)0%, rgba(255, 255, 255, 0) 70%);
  width: 10px;
  height: 45px;
  transform: rotate(45deg);
}

@keyframes loading {
  0% {
    width: 0;
  }

  80% {
    width: 100%;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}